
<div class="container" style="width:300px;" >
  <%= simple_form_for(@consultation,url: consultations_path, method: :post) do |f| %>
    <%= f.input :rut %>

    <div class="buttons">
      <div class="btn-alert">
        <%= f.button :submit %>
      </div>
    </div>

  <% end %>
</div>
