
<div class="container" style="width:300px;" >
  <%= simple_form_for(@consultation,url: consultations_path, method: :post) do |f| %>
    <%= f.input :rut %>


      <div class="btn-nuevorut">
        <%= f.button :submit %>
      </div>


  <% end %>
</div>
