      <ul>
            <div id="spacer">
            </div>

            <li><a href="/">
              <i class="fas fa-home"></i>
              <%# Home %>
              </a></li>

            <li><a href="/users/edit">
              <i class="fas fa-user"></i>
            <%# User %>
            </a></li>

            <li><a href="#">
            <i class="fas fa-solid fa-message"></i>
              <%# Contact %>
              </a></li>

            <li><a href="#">
            <i class="fas fa-solid fa-gear"></i>
              <%# Config %>
              </a></li>


      </ul>
