<div class="container">
  <h1>Membresías</h1>
  <div class="row">
    <% @suscriptions.each do |suscription| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <h1> <i class="fa-solid fa-credit-card"></i></h1>
          <div class="card-body">
            <h5 class="card-title"><%= suscription.name %></h5>
            <p> <%= humanized_money_with_symbol(suscription.price) %> USD</p>

            <%= link_to "Ver", suscription_path(suscription), class: "btn btn-primary" %>


          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
