<section id="header">
  <article>
    <h1>Análisis Legal en <strong>un click</strong></h1>
    <h3>Te entregamos el background check <strong>mas completo</strong> del mercado, dandote una poderosa herramienta para evitar riesgos laborales, <strong>explicado</strong> de manera <span>sencilla</span></h3>
    <div class="buttons">

      <% unless user_signed_in? %>
      <%= link_to "Registrate", new_user_registration_path, class: "btn-alert" %>
      <% end %>
      <%= link_to "Haz una consulta", "/", class: "btn-soft" %>

    </div>
  </article>
</section>

<section id="analiza">

  <article>
    <h2>Analiza a tus clientes con los datos mas importantes para tu área de Recursos Humanos</h2>
    <h3>Seleccionamos 3 variables predictoras de riesgo en laboral, para reducir la probabilidad de impactos laborales</h3>
  </article>
      <img src="https://res.cloudinary.com/dp693fkkc/image/upload/v1668313286/AnFin/esqema_dljfnf.png" alt="esquema">
</section>
<section id="modelo">
  <article>
    <h1>Construido con modelo <strong>predictivo</strong> el cual te entregara un resumen de fuentes de <strong>riesgo</strong></h1>
    <h3> Aparte, las demandas se entreegan en formatos PDF para poder conocer más a fondo a su cliente y asi tomar su desicion de mejor manera</h3>
  </article>
</section>
<section id="algoritmo">
    <div class="container">
      <h1>Nuestros algoritmos a <strong>tu medida</strong>.</h1>
      <h3>Entendemos que cada persona tiene distintos factores de riesgo legal, asi que con nuestro algoritmo clasificamos las variables de mayor importancia: <strong>civil, legal y laboral</strong></h3>
    </div>
    <div class="container">
      <img src="https://res.cloudinary.com/dp693fkkc/image/upload/v1668313286/AnFin/hash_sncbnk.png" alt="esquema">
    </div>
</section>
