.btn-alert {
  background-color: rgb(255, 160, 0);
  filter: none;
  opacity: 1;
  border-radius: 10px;
  box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
  height: 55px;
}

.btn-alert:hover {
opacity: 0.5;
}

.btn-soft {
    background-color: rgb(255, 236, 179);
    box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
    filter: none;
    opacity: 1;
    border-radius: 10px;
    height: 55px;
}

.btn-soft:hover {
  opacity: 0.5;
  }
