.btn-alert {
  background-color: rgb(255, 160, 0);
  filter: none;
  opacity: 1;
  border-radius: 10px;
  box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
  height: 44px;
  margin: 10px;
  width: 220px;
  font-weight: bolder;
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
}

.btn-alert:hover {
opacity: 0.5;
}

.btn-soft {
    background-color: #FFC107;
    box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
    filter: none;
    opacity: 1;
    border-radius: 10px;
    height: 45px;
    margin: 10px;
    width: 220px;
    font-weight: bolder;
font-family: 'DM Sans', sans-serif;
color: rgb(228, 228, 228);
font-size: 24px;
}

.btn-soft:hover {
  opacity: 0.5;
  }


  .btn-log {
    background-color: rgb(255, 160, 0);
    filter: none;
    opacity: 1;
    border-radius: 10px;
    box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
    text-align: center;
    height: 50px;
    margin: 10px;
    width: 180px;
    font-family: 'DM Sans', sans-serif;
    color: rgb(228, 228, 228);
    font-size: 36px;

  }

  .btn-log:hover {
  opacity: 0.5;
  }

.buttons a {
text-align: center;
text-decoration: none;
display: flex;
justify-content: center;
flex-direction: column;
color: rgb(228, 228, 228);


}

#links {
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-weight: bolder;
  }

  .buttons input {
    font-weight: bolder;
  }
  .btn-nuevorut {
    background-color: rgb(255, 160, 0);
    filter: none;
    opacity: 1;
    border-radius: 10px;
    height: 40px;
    margin: 10px;
    width: 250px;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    color: rgb(228, 228, 228);
    text-decoration: none;
  }

  .btn-nav{
    background-color: rgb(255, 160, 0);
    filter: none;
    opacity: 1;
    border-radius: 10px;
    box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
    text-align: center;
    height: 50px;
    margin: 10px;
    width: 180px;
    font-family: 'DM Sans', sans-serif;
    color: rgb(228, 228, 228);
    text-decoration: none;
  }

  .btn-nav:hover{
    color: #607D8B;
  }

  .btn-card{
    background-color: rgb(255, 160, 0);
    filter: none;
    opacity: 1;
    text-align: center;
    height: 48px;
    width: 180px;
    font-family: 'DM Sans', sans-serif;
    margin: 0ch;
    color: rgb(228, 228, 228);
    font-size: 24px;
    text-decoration: none;
    padding-top: 6px;
  }
  .btn-card:hover{
    color: #607D8B;
    text-decoration: none;
  }

  .btn-card a{
    text-decoration: none;
    color: #2b373c;
  }

  .btn-card a:hover{
    text-decoration: none;
    color: aliceblue;
  }

  .btn-contacto{
    background-color: #607D8B;
    filter: none;
    opacity: 1;
    border-radius: 10px;
    box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
    height: 44px;
    margin: 10px;
    width: 220px;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
  }

  .btn-contacto:hover {
    opacity: 0.5;
    }
