.btn-alert {
  background-color: rgb(255, 160, 0);
  filter: none;
  opacity: 1;
  border-radius: 10px;
  box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
  height: 44px;
  margin: 10px;
  width: 150px;
  font-weight: bolder;
  font-family: 'DM Sans', sans-serif;
}

.btn-alert:hover {
opacity: 0.5;
}

.btn-soft {
    background-color: rgb(255, 236, 179);
    box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
    filter: none;
    opacity: 1;
    border-radius: 10px;
    height: 45px;
    margin: 10px;
    width: 150px;
    font-weight: bolder;
font-family: 'DM Sans', sans-serif;
}

.btn-soft:hover {
  opacity: 0.5;
  }


  .btn-log {
    background-color: rgb(255, 160, 0);
    filter: none;
    opacity: 1;
    border-radius: 30px;
    box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
    height: 10%;
    width: 20%;
    text-align: center;
    margin-bottom: 32px;
    font-weight: bolder;
font-family: 'DM Sans', sans-serif;

  }

  .btn-log:hover {
  opacity: 0.5;
  }

.buttons a {
text-align: center;
text-decoration: none;
display: flex;
justify-content: center;
flex-direction: column;
color: black;

}

#links {
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-weight: bolder;
  }

  .buttons input {
    font-weight: bolder;
  }
  .btn-nuevorut {
    background-color: rgb(255, 160, 0);
    filter: none;
    opacity: 1;
    border-radius: 10px;
    box-shadow: rgb(0,0,0 / 5%) 0px 4px 8px 0px;
    height: 40px;
    margin: 10px;
    width: 200px;
font-weight: bolder;
font-family: 'DM Sans', sans-serif;
  }
