.footer {
  background: radial-gradient(94% 58.3% at 50.3% 82.6%, hsl(252, 28%, 20%) 0%, var(--token-79f54f4b-5c08-4adb-84cd-68f4d833bf59, rgb(17, 16, 19)) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 0px 50px;
  color: white;
  margin-top: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  // color: #bdbdbd;
}
.footer .fa-heart {
  color: #D23333;
}
